{% if ressonance %}
{{ ressonance|json_script:"ressonance" }}
<script>
    var ctx = document.getElementById('ressonanceChart').getContext('2d');
    var ressonance = JSON.parse(document.getElementById('ressonance').textContent);

    const ressonance_colors = {
        0: '#fde012',
        1: '#f7c91d',
        2: '#f59638',
        3: '#ec3c6b',
        4: '#ea0191',
        5: '#bf01ad',
        6: '#9b00ca',
    };

    const data_ressonance = {
        labels: ressonance.map(item => item.ressonance),
        datasets: [{
            label: '',
            data: ressonance.map(item => item.count),
            backgroundColor: ressonance.map(item => ressonance_colors[item.ressonance]),
            borderWidth: 0,
        }]
    };

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: data_ressonance,
        plugins: [ChartDataLabels],
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    display: false,
                    beginAtZero: true

                },
                x: {
                    grid: {
                        display: false
                    }

                }
            },
            plugins: {
                legend: {
                    display: false,
                },
                datalabels: {
                    color: '#fff',
                    font: {
                        weight: 'bold',
                        size: 16
                    },
                    formatter: (value, context) => {
                        var dataset = context.chart.data.datasets[0];
                        var total = dataset.data.reduce((acc, data) => acc + data, 0);
                        var percentage = ((value / total) * 100).toFixed(1) + '%';
                        return percentage;
                    }
                }
            }
        },
    });
</script>
{% else %}
<p>No information are available.</p>
{% endif %}