{% if ressonance %}
{{ ressonance|json_script:"ressonance" }}
<script>
    var ctx = document.getElementById('ressonanceChart').getContext('2d');
    var ressonance = JSON.parse(document.getElementById('ressonance').textContent);

    const ressonance_colors_2 = {
        0: 'RGB(253, 224, 18)',
        1: 'RGB(237, 187, 49)',
        2: 'RGB(220, 149, 79)',
        3: 'RGB(204, 112, 110)',
        4: 'RGB(188, 75, 141)',
        5: 'RGB(171, 37, 171)',
        6: 'RGB(155, 0, 202)',
    };

    const data_ressonance = {
        labels: ressonance.map(item => item.ressonance),
        datasets: [{
            label: '',
            data: ressonance.map(item => item.count),
            backgroundColor: ressonance.map(item => ressonance_colors_2[item.ressonance]),
            borderWidth: 0,
        }]
    };

    var myChart = new Chart(ctx, {
        type: 'bar',
        data: data_ressonance,
        plugins: [ChartDataLabels],
        options: {
            maintainAspectRatio: false,
            scales: {
                y: {
                    display: false,
                    beginAtZero: true

                },
                x: {
                    grid: {
                        display: false
                    }

                }
            },
            plugins: {
                legend: {
                    display: false,
                },
                datalabels: {
                    color: '#fff',
                    font: {
                        weight: 'bold',
                        size: 16
                    },
                    formatter: (value, context) => {
                        var dataset = context.chart.data.datasets[0];
                        var total = dataset.data.reduce((acc, data) => acc + data, 0);
                        var percentage = ((value / total) * 100).toFixed(1) + '%';
                        return percentage;
                    }
                }
            }
        },
    });
</script>
{% else %}
<p>No information are available.</p>
{% endif %}