{% extends "base.html" %}

{% block home %}


<div id="container10" class="container columns full screen">
    <div class="wrapper">
        <div class="inner">
            <div>
                <h1 class="style3">Class</h1>
                <hr class="style1">
                <div class="doughnut">
                    <canvas id="classChart"></canvas>
                </div>
            </div>
            <div>
                <h1 class="style3">Role</h1>
                <hr class="style1">
                <div class="doughnut">
                    <canvas id="roleChart"></canvas>
                </div>
            </div>
            <div>
                <h1 class="style3">Leader Effect</h1>
                <hr class="style1">
                <div class="doughnut">
                    <canvas id="leaderEffectChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="container05" class="container columns full screen">
    <div class="wrapper">
        <div class="inner">
            <div>
                <h1 class="style3">Top Guilds</h1>
                <hr class="style1">
                <div>
                    <canvas id="guildChart"></canvas>
                </div>
            </div>
            <div>
                <h1 class="style3">Ressonance</h1>
                <hr class="style1">
                <div class="barRessonance">
                    <canvas id="ressonanceChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <h1 class="style3">Most Used Espers</h1>
    <hr class="style1">
    <div>
        <canvas id="esperChart"></canvas>
    </div>

</div>

{% include 'dislyte_knockout/chart_esper.html' %}
{% include 'dislyte_knockout/chart_role.html' %}
{% include 'dislyte_knockout/chart_class.html' %}
{% include 'dislyte_knockout/chart_leader_effect.html' %}
{% include 'dislyte_knockout/chart_ressonance.html' %}
{% include 'dislyte_knockout/chart_guild.html' %}

{% endblock %}