{% if most_used_esper %}
<table>
    <tr>
        <td>Esper</td>
        <td>Rarity</td>
        <td>Class</td>
        <td>Role</td>
        <td>Leader Effect</td>
        <td>Total</td>
    </tr>
    {% for esper in most_used_esper %}
    <tr>
        <td>{{ esper.name }}</td>
        <td>{{ esper.rarity }}</td>
        <td>{{ esper.classe }}</td>
        <td>{{ esper.role }}</td>
        <td>{{ esper.leader_effect }}</td>
        <td>{{ esper.count }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>No information are available.</p>
{% endif %}