{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DKockout</title>
    <script src="{% static 'js/chart.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>
    <script src="{% static 'js/chartjs-plugin-datalabels.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
</head>

<body>

    <header>
        <h1>DKnockout</h1>
        <nav>
            <!-- Menu de navegação, se aplicável -->
        </nav>
    </header>

    <main>

        {% block body %}{% endblock %}

    </main>

    <footer>
        <p>&copy; 2023 My Site. Todos os direitos reservados.</p>
    </footer>

</body>

</html>